.payment_page {
    background-color: #eaeaea;
    width: 100%;
    height: 150vh;
}

.fa-airbnb {
    padding-left: 5px;
}

.payment_page-logo {
    display: flex;
    padding: 25px 0 30px 15px;
}

.payment_page-logo h2 {
    color: #1a202c;
    font-family: Verdana;
    font-weight: 500;
    font-size: 2.8rem;
}

.fa-file-invoice {
    font-size: 2.4rem;
    padding: 10px 10px 0 0;
}

.payment_page_total-product {
    display: flex;
}

.payment_page_total-product h3 {
    padding: 0 15px;
}

.payment_page_personal-title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    color: #fffffd;
    background-color: #1a202c;
    width: 98%;
    border-radius: 5px;
    height: 30px;
    margin: 15px;
}

.payment_page_personal-title h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.payment_page_product-title h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}



.payment_page_product-detail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #ffffff;
    color: #191f2b;
    height: 150px;
    width: 98%;
    border-radius: 5px;
    margin: 15px;
    text-align: center;
    border: 1px solid #ecf0fb;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.payment_page_product-detail_pending {
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment_page_product-detail .fa-clock {
    width: 30px;
    height: 30px;
    background-color: rgb(230, 220, 201);
    color: rgb(88, 59, 5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.containbutton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containbutton button {
    padding: 0 10px;
    border: none;
    border-radius: 15px;
    margin-right: 5px;
}

.containbutton button:hover {
    transform: scale(1.05);
}

.containbutton .changebutton{
    color: #167922;
    background-color: #85e08f;
}

.containbutton .deletebutton{
    color: rgb(163, 47, 47);
    background-color: rgb(231, 158, 158);
  
}

.containbutton .deletebutton i {
    margin-right: 5px;
}

.payment_page_product-detail h3,
.payment_page_product-detail span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
}

/* icon */
.fa-user {
    background: #e5f1fd;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    color: #52a8f5;
}

.fa-location-arrow {
    background: #dde3fb;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    color: #3351e7;
}

.fa-qrcode {
    background: #fff4de;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    color: #ffba2e;
}

.fa-location-dot {
    background: #def5e1;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    color: #37c148;
}

.fa-dollar-sign {
    background: #def5e1;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    color: #37c148;
}
