.topsale h2{
   
    font-size: 43px;
  
}
.topsale {
    margin-bottom:12px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#d7202c;
}
.product{
    display:grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom:15px;
    gap: 17px;
}