.create {
    background-color: #f9fafc;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.create_detail {
    width: 90%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.create_detail-layout {
    display: grid;
    grid-template-columns: 30% 70%;
}

.create_detail-col1 {
    display: flex;
    flex-direction: column;
}

.create_detail-title {
    display: flex;
    padding: 30px;
    color: #333333;
}

.create_detail-title i {
    font-size: 2rem;
    padding: 4px 15px 0 0;
}

.create_detail-title h1 {
    text-transform: uppercase;
    font-size: 2rem;
}



.upload {
    height: 350px;
    width: 80%;
    margin-left: 60px;
    position: relative;
    background-color: #f2faf5;
    
}

.input-label {
    border-radius: 8px;
    border: 3px dashed #1ea451;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
}

.upload input[type="file"] {
    display: none;
}

.upload .fa-image {
    color: #00983a;
    font-size: 3rem;
    margin-bottom: 40px;
}

.upload h2 {
    color: #00983a;
    font-size: 1.2rem;
}

.upload span {
    font-size: 0.7rem;
    color: #959696;
}

#file_up {
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
}



#file_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
}

#file_img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: scale-down;
}

#file_img span {
    position: absolute;
    top: -13px;
    right: -13px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 6px 10px;
    cursor: pointer;
    font-weight: 900;
    color: crimson;
}

.create_detail-img-note {
    margin: 15px 0 0 60px;
    width: 80%;
}

.create_detail-img-note h2 {
    color: #333333;
    font-size: 1.4rem;
    margin-bottom: 15px;
}

.create_detail-img-note span {
    color: #909090;
    font-size: 0.8rem;
}

.create_product {
    margin-left: 10px;
}

.create_product form .row {
    display: flex;
    flex-direction: column;
}

.create_product form .row label {
    color: #333333;
    font-size: 1.2rem;
    font-weight: 600;
}

.create_product form .row input,
.create_product form .row select {
    width: 95%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    margin: 10px 0 15px 0;
    padding: 15px;
}

.create_product textarea {
    width: 95%;
    height: auto;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    margin: 10px 0 15px 0;
    padding: 15px;
}


.create_product form button {
    height: 35px;
    width: 300px;
    border: none;
    background-color: #333333;
    color: whitesmoke;
    border-radius: 15px;
    margin-top: 15px;
}

.create_product form button:active {
    transform: scale(1.06);
}

.box-detail_configuation-title1 {
    color: rgb(49, 49, 49);
}

.box-detail_configuation-table input  {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #e5e5e5;
}
.clickphoto{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}