header{
    min-height: 70px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
header .logo{
    flex: 1;
}
header a{
    text-transform: uppercase;
    color: #555;
}

header ul li:hover{
    opacity: 1;
}
.menu{
    display: none;
}
.cart-icon{
    position: relative;
    margin-right: 20px;
}
.cart-icon span{
    background: crimson;
    border-radius: 20px;
    color: white;
    position: absolute;
    top:-10px;
    right: -10px;
    padding: 5px 7px;
    font-size: 10px;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
}



/* user */
.avatarheader{
    height:100%;
    width:30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    
}
.avatarheader img{
    height:100%;
    width:100%;
    border-radius: 50%;
    border: 2px solid grey;
    cursor: pointer;
}


.header_detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.header_detail-product,
.header_detail-history,
.header_detail-search {
    display: flex;
    justify-content: center;
}


/* header_profile */
.header_proflie {
    position: relative;
}


.header_profile-detail {
    position: absolute;
    z-index: 1000;
    background-color: #F9F9F9;
    box-shadow: #ddd;
    padding: 5px 0 5px 5px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: none;
    margin: 10px;
}

.header_profile-detail.active {
    display: block;
}

.header_profile-detail li {
    padding: 20px;
    width: 95%;
    color: black;
}

.header_profile-detail li:hover {
    background-color: #F3F3F3;
    border-radius: 10px;
    
}

/* amin */
.header_detail-admin {
    display: flex;
    justify-content: space-between
}
