header{
    min-height: 65px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ddd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header .logo{
    flex: 1;
}
header a{
    text-transform: uppercase;
    color: #555;
}

header li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
}

header li:hover{
    opacity: 1;
}
.menu{
    display: none;
}
.cart-icon{
    position: relative;
    margin-right: 20px;
}
.cart-icon span{
    background: crimson;
    border-radius: 20px;
    color: white;
    position: absolute;
    top:-10px;
    right: -10px;
    padding: 5px 7px;
    font-size: 10px;
}




/* user */
.avatarheader{
    height:110%;
    width:35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    
}
.avatarheader img{
    height:100%;
    width:100%;
    border-radius: 50%;
    border: 2px solid grey;
    cursor: pointer;
}


.header_detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 70%;
    font-size: 0.9rem;
}

.header_detai li {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header_detail-product,
.header_detail-history,
.header_detail-search {
    display: flex;
    justify-content: center;
}



/* header_profile */
.header_proflie {
    position: relative;
}


.header_profile-detail {
    position: absolute;
    z-index: 1000;
    background-color: #F9F9F9;
    box-shadow: #ddd;
    padding: 5px 0 5px 5px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: none;
    margin: 10px;
}

.header_profile-detail.active {
    display: block;
}

.header_profile-detail li {
    padding: 14px;
    width: 95%;
    color: black;
}

.header_profile-detail li:hover {
    background-color: #F3F3F3;
    border-radius: 10px;
    
}

/* amin */
.header_detail-admin {
    display: flex;
    justify-content: space-between
}


/* home_login&register */
.header_login-register {
    display: flex;
    gap: 30px;
}

.header_login-register li:nth-child(2) {
    border: 1px solid rgb(190, 184, 184);
    padding: 10px;
    border-radius: 15px;
}

.header_login-register ion-icon {
    font-size: 1.5rem;
    padding-right: 6px;
}

.header_login-register li:hover {
    opacity: 0.7;
}