.container {
    margin:5px 30px;
    padding-top: 10px;
}
.heading{
    text-align: center;
    padding: 0.5rem 0 1.5rem 0;
}

.heading span{
    font-size: 3.5rem;
    background:rgba(255, 165, 0,.2);
    color: #CE3226;
    border-radius: .5rem;
    padding:.2rem 1rem;
    text-transform: uppercase;
    margin: 0 5px;
}
.wrapper{
    width: 100%;
}

.product_table-title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 3px solid rgb(101, 101, 101);
    padding-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text{
    font-size:50px
}

.product_table-title h3:nth-child(4) {
    margin-left: 35px;
}

.product_table-title h3:nth-child(5) {
    margin-left: 45px;
}

.product_table-title ion-icon {
    margin-left: 85px;
}
