.sorting {
    display: flex;
    justify-content: center;
    align-items: center;
 }
  .sorting select{
    margin-right: 5px;
    border: 2px solid rgb(0, 172, 172);
    color: rgb(0, 172, 172);
  }
  .sorting h2{
    color: rgb(0, 172, 172);
    text-transform: uppercase;
    letter-spacing: 0.06rem;
    cursor: pointer;
  }

  .sorting select {
    padding: 10px;
    border-radius: 30px;
    color: white;
    background-color: rgb(165, 52, 52);
    border: none;
    margin-left: 15px;
  }

  .sorting option {
    background-color: white;
    color: black;
    border-radius: 10px;
    height: 100px;
    width: 50px;
  }
