.product_card {
    /*    margin:10px 20px; */
    max-width: 350px;
    overflow: hidden;
    border-radius: 20px;
    height: 500px;
    padding: 0 12px 0 0;
    background-color: white;
    position: relative;
    transition: 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product_card:hover {
    transform: scaleY(1.05);
    z-index: 1000;
}

.product_card img {
    /*  margin:5px 20px; */
    width: 350px;
    height: 55%;
    object-fit: contain;
    cursor: pointer;
}

.fa-laptop {
    color: rgb(207, 41, 41);
    font-size: 1rem;
}

.product_title {
    width: 100%;
    font-size: 1.4rem;
    padding-top: 10px;
    color: #333333;
    padding-left: 15px;
    line-height: 1;
    height: 10%;
}

.product_price {
    font-size: 2.0rem;
    padding: 20px 15px;
    width: 100%;
    color: rgb(207, 41, 41);
    height: 50px;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
}

.product_description {
    font-size: 20px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
    opacity: 0.6;
    padding: 10px 15px;

}

.product_button {

    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: space-around;
}

.product_button_buy {
    font-family: Verdana, sans-serif;
    color: rgb(207, 41, 41);
    padding: 20px 25px;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
    outline: none;
    border: 1px solid rgb(207, 41, 41);
    font-size: 16px;
    position: relative;
    isolation: isolate;
    display: flex;
    align-items: center;
}

.product_button_buy i {
    padding-right: 5px;
}

.product_button_buy::before {
    content: "";
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(207, 41, 41);
    z-index: -1;
    transition: width 0.25s ease-in;
}

.product_button_buy:hover {
    color: white;
}

.product_button_buy:hover::before {
    width: 100%;

}

.product_button_view {
    color: rgb(207, 41, 41);
    font-size: 1.2rem;
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 0  10px;
}

/* button admin: delete & edit */

.product_button_edit {
    width: 100px;
    color: rgb(26, 85, 194);
    background-color: rgb(150, 205, 226);
    border-radius: 15px;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.product_button_edit:hover,
.product_button_delete:hover {
    transform: scale(1.07);
}

.product_button_delete {
    width: 100px;
    color: rgb(238, 105, 105);
    background-color: rgb(240, 179, 179);
    border-radius: 15px;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
}